Source: eyewitness
Section: utils
Priority: optional
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://www.christophertruncer.com/eyewitness-triage-tool/
Vcs-Git: ssh://git@git.kali.org/packages/eyewitness.git
Vcs-Browser: http://git.kali.org/gitweb?p=packages/eyewitness.git;a=summary

Package: eyewitness
Architecture: all
Depends: ${misc:Depends}, python, python-ghost
Description: Rapid web application triage tool
 EyeWitness is designed to take screenshots of websites, provide some server 
 header info, and identify default credentials if possible.
 .
 Inspiration came from Tim Tomes's PeepingTom Script. 
 .
 EyeWitness is designed to run on Kali Linux. It will auto detect the file you 
 give it with the -f flag as either being a text file with URLs on each new 
 line, nmap xml output, or nessus xml output. The -t (timeout) flag is 
 completely optional, and lets you provice the max time to wait when trying to 
 render and screenshot a web page. The --open flag, which is optional, will open 
 the URL in a new tab within iceweasel.
